{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="{%static 'CSSFiles/SignUp.css'%}">
</head>

<body>

    <form method="post" action="submit">
        {% csrf_token %}
        <div id="logo">
            <img src="{%static 'Assests/Images/logo2.png'%}" alt="Demo Image">
            <div id="Name">
                <p id="p1">
                    ESPORTOPIA
                </p>
                <p>
                    PARADIZE FOR GAMERS
                </p>
            </div>
        </div>
        <div>
            <label for="name">Name</label><br>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="phone">Mobile Number</label><br>
            <input type="number" name="phone" id="phone" required>
        </div>
        <div>
            <input type="submit" value="SignUp" id="SignUp_button">
        </div>
        <a id="to_signup" href="Login">
            Already Have an Account?
        </a>
        <div>
            <p id="message">
                {% if messages %}

                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
            </p>
        </div>
    </form>
</body>

</html>